  .assistant {
    margin-top: 8px;
    background: #ffffff;
    border-radius: 6px;

    &-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      margin-top: 8px;

      .assistant-item {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        cursor: pointer;
        margin-bottom: 10px;

        &-title {
          margin-right: 4px;
          color: #BF832E;
        }

        &-link {
          color: #BF832E;
        }
      }
    }
  }