  .qa-common {
    width: 376px;
    height: 112px;
    padding: 12px;
    background: #FFFFFF;
    border-radius: 6px;

    .description {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;

      &-left {
        display: flex;
        align-items: center;

        img {
          margin-right: 8px;
        }

        .title {
          font-size: 16px;
          color: #333333;
          line-height: 20px;
          text-align: left;
          height: 20px;
        }
      }

      &-right {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
          margin-right: 4px;
        }

        .refresh {
          font-size: 14px;
          color: #BF832E;
          line-height: 20px;
          text-align: right;
          height: 20px;
        }
      }
    }

    .list {
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        color: #666666;

        &-content {
          display: flex;
          align-items: center;

          .dot {
            margin-right: 6px;
            width: 9px;
            height: 9px;
            background: #D9D9D9;
            border-radius: 50%;
          }
          .text {
            font-size: 14px;
            line-height: 20px;
            text-align: left;
            color: #666666;
            height: 20px;
          }
        }

        &-link {
          cursor: pointer;
        }
      }

      .item:last-child {
        margin-bottom: 0;
      }
    }
  }